[tool.poetry]
name = "asserts"
version = "0.12.0"
description = "Stand-alone Assertions"
readme = "README.md"
authors = ["Sebastian Rittau <srittau@rittau.biz>"]
license = "MIT"
homepage = "https://github.com/srittau/python-asserts"
repository = "https://github.com/srittau/python-asserts"
classifiers = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Developers",
    "Topic :: Software Development :: Quality Assurance",
    "Topic :: Software Development :: Testing",
]
packages = [{ include = "asserts" }]
include = ["*/py.typed", "*.pyi"]

[tool.poetry.dependencies]
python = ">=3.7"

[tool.poetry.dev-dependencies]
flake8 = "~5.0.4"
mypy = "0.982"

[tool.black]
line-length = 79

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
